body{
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(249, 248, 248);
  box-sizing: border-box;
  margin: 0;
}
button:focus {
	outline: none;
  box-shadow: 0 0 0 0.2rem rgba(159, 95, 235, 0.5)
}

input:focus {
	outline: none;
}

textarea:focus {
	outline: none;
}

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 999999;
}

#preloader .preloader {
	width: 100%;
	height: 100%;
	display: inline-block;
	padding: 0px;
	text-align: left;
	box-sizing: border-box;
	position: absolute;
	margin-left: -25px;
	margin-top: -25px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#preloader .preloader span {
	position: absolute;
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background-color: #e52e06;
	-webkit-animation: preloader 1.3s linear infinite;
	animation: preloader 1.3s linear infinite;
}

#preloader .preloader span:last-child {
	animation-delay: -0.8s;
	-webkit-animation-delay: -0.8s;
	background-color: #8e43e7;
}

@keyframes preloader {
	0% {
		transform: scale(0, 0);
		opacity: 0.5;
	}
	100% {
		transform: scale(1, 1);
		opacity: 0;
	}
}

@-webkit-keyframes preloader {
	0% {
		-webkit-transform: scale(0, 0);
		opacity: 0.5;
	}
	100% {
		-webkit-transform: scale(1, 1);
		opacity: 0;
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a{ 
  text-decoration: none;
  color: #fff;
}
.header{
  background-color: #fff;
}
.header.sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	-webkit-animation: sticky 1s;
	-moz-animation: sticky 1s;
	-o-animation: sticky 1s;
	animation: sticky 1s;
	-webkit-box-shadow: 2px 4px 8px rgba(51, 51, 51, 0.25);
	-moz-box-shadow: 2px 4px 8px rgba(51, 51, 51, 0.25);
	box-shadow: 8px 8px 8px rgba(51, 51, 51, 0.25);
	background-color: #fff;
}

@-webkit-keyframes sticky {
	0% {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	100% {
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}
}

@keyframes sticky {
	0% {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	100% {
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}
}
.navbar{
  position: relative;
  top: 0;
  display: flex;
z-index: 10;
width: 100%;
height: 9vh;
background-color: #fff;
}
.navbar-brand{
  text-decoration: none;
    font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
    color:rgb(126, 10, 236);
    font-size: 2.15rem;
}
.navbar-brand:hover{
  color: rgb(126, 10, 236);
}
.nav-item .nav-link{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  justify-content: space-between;
  list-style-type: none;
  position: relative;
  width: 100%;
  text-align: center;
  text-decoration: none;
  padding: 7px 15px;
  margin-right: 20px;
  color: #000;
  text-size-adjust: 100%;
  transition: 0.3s ease-in-out;

}
.nav-link:hover{
  color: #f73859;
  transition: 0.3s;
}
.nav-link:after{
 content: "";
position: absolute;
background-color: #f73859;
width: 0;
height: 2.5px;
right: 0; 
bottom: -2px;
transition: 0.3s;
}
.nav-link::before{
  content: "";
position: absolute;
background-color: #f73859;
width: 0;
height: 2px;
left: 0;
top: -2px;
transition: 0.3s;
}
.nav-link.active:hover::after, .nav-link.active:hover::before{
width: 100%;
}
.nav-link.active::after, .nav-link.active::before{
  width: 100%;
}

.nav-link.active[href="#scrollspyHeading1"] {
  background-color: #fff;
  color: #f73859;
}
.nav-link.active[href="#scrollspyHeading2"] {
  background-color: #fff;
  color: #f73859;
}
.nav-link.active[href="#scrollspyHeading3"] {
  background-color: #fff;
  color: #f73859;
}
.nav-link.active[href="#scrollspyHeading4"] {
  background-color: #fff;
  color: #f73859;
}
.nav-link.active[href="#scrollspyHeading5"] {
  background-color: #fff;
  color: #f73859;
}
.nav-link.active[href="#scrollspyHeading6"] {
  background-color: #fff;
  color: #f73859;
}

.navbar-toggler, .navbar-header .icon-bar{
border: 2px solid blueviolet;
}
.homepage{
  padding-top: 100px;
  padding-bottom: 90px;
}
.homepage .heading1{
  letter-spacing: 2px;
  color: #8f8da4;
  margin-bottom: 10px;
  font-weight: 600;
}
h1{
  color:#403b66;
  font-weight: 400;
  font-size: 45px;
}
.bold{
  color:#403b66;
  font-weight: 600;
  font-size: 50px;
}
.hero-content h2 {
	font-size: 48px;
	line-height: 1.2;
	font-weight: 600;
	color: #403b66;
}

.hero-content h2 span {
	padding: 0px;
}

.cd-headline.clip span {
	padding: 0px;
}

.hero-content h2 span b {
	font-weight: 400;
}
#skills{
  font-size: 1.0em;
  color:#403b66;
  font-weight: 400;
}
.typed-cursor{
  position: relative;
  left: 5px;
color: #cbc6fb;
}

.hero-root{
  line-height: 20px;
  color:#403b66;
  font-size: 2.9rem;
  margin-bottom: 10px;
  padding: 0;
}

.hero-stem{
  color: #403b66;
  margin: 0;
  font-size: 2.95rem;
}
.text-dyna{
  color: #6b6b6b;
	font-size: 18px;
	margin-top: 10px;
	line-height: 28px;
	margin-bottom: 10px;
	display: inline-block;
}
.image1{
  position: relative;
  padding-top: 0;
   width: 500px;
   height: 500px;
   border-radius: 50%;
   margin-left: 50px;
   border: #505050;
   object-fit: cover;
   background-color: transparent;
}
.btn-homepage{
  padding:  16px 35px 16px 35px;
  border-radius: 13px;
  margin-right: 20px;
  margin-top: 15px;
  color: #fff;
  font-weight: 600;
  background-color: blueviolet;
  border: 1px solid blueviolet;
  letter-spacing: 2px;
  transition: transform 0.4s ease;
}
.btn-homepage:hover{
  background-color: white;
  color: black;
  transform: rotate(10deg);
  border: 1px solid #473ef9;
}
.btn-homepage1{
  padding:  16px 35px 16px 35px;
  border-radius: 13px;
  margin-right: 20px;
  margin-top: 15px;
  color: blueviolet;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid blueviolet;
  letter-spacing: 1px;
  transition: transform 0.4s ease;
}
.btn-homepage1:hover{
  background-color: blueviolet;
  color: white;
  transform: rotate(10deg);
  border: 1px solid white;
}
.section1{
  padding-top: 60px;
}
#scrollspyHeading2{
  background-color: #ffffff;
  padding-top: 100px;
  padding-bottom: 60px;
}
.image2{
  width: 450px;
  height: 450px;
  padding-right: 50px;
  object-fit: cover;
}
.second-abt{
  width: 65%;
}
.heading2{
  font-weight: bold;
  letter-spacing: 2px;
  color: #8686a2;
  margin-top: 20PX;
  margin-bottom: 20px;
}
.hero-root1{
  color: black;
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 10px;
}
.text-dyna1{
  font-weight: 400;
  font-size: 1.2rem;
  color: #505050;
}
.about-social{
  margin-top: 20px;
}
.about-social ul li {
	display: inline-block;
	margin: 0px 8px;
}

.about-social ul li a {
  display: inline-block;
}

.about-social ul li a i {
  display: inline-flex;
  color: #000;
	font-size: 15px;
	width: 40px;
	height: 40px;
	border: 2px solid #020202;
  justify-content: center;
  border-radius: 50%;
	align-items: center;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.about-social ul li a i:hover {
	color: #e85c41;
	border-color: #e85c41;
}
.btn-aboutpage{
  text-align: center;
  font-weight: bold;
  padding:15px 20px 15px 20px;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  background-color: #8e43e7;
  border: 1px solid blueviolet;
  border-radius: 18px;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}
.btn-aboutpage:hover{
  background-color: rgb(118, 21, 209);
  transform: rotate(10deg);
  border: 1px solid blueviolet;
}
.fa-download{
font-size: 14px;
}
#scrollspyHeading3{
  padding-top: 80px;
}
.underline {
	position: relative;
	width: 10px;
  height: 10px;
	background: #f73859;
	display: block;
	left: 0;
	right: 0;
	margin: 0 auto;
	margin-bottom: 10px;
	border-radius: 50%;
}
.underline::before {
	content: "";
	clear: right;
	display: block;
	overflow: hidden;
	width: 50px;
	height: 2px;
	background: rgb(56,56,56);
	position: absolute;
	left: 15px;
	top: 4px;
}

.underline:after {
	content: "";
	width: 50px;
	height: 2px;
	background: rgb(56,56,56);
	position: absolute;
	right: 15px;
	top: 4px;
}
.services-area{
  padding-top: 10px;
  padding-bottom: 90px;
}
.col{
  margin-right: 10px;
  background: #fff;
  width: 400px;
  height: 300px;
  border-radius: 2px;
  padding-top: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in;
} 
.col:hover{
border-left: 4px solid #f73859;
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.king{
  color: rgb(24, 24, 24);
  font-size: 1.5rem;
  padding-top: 20px;
  padding-bottom: 10px;
}
.king::before{
  content: "";
  clear: right;
	display: block;
	overflow: hidden;
  width: 100px;
  height: 8px;
  background-color: #8383a0;
  position: absolute;
	right: 15px;
	top: 4px;
}
.Service{
  color:#505050;
  padding-bottom: 20px;
}
.pg{
  padding-bottom: 20px;
}
#scrollspyHeading4{
  width: 100%;
  text-align: left; 
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 40px;
}
.image{
  background: purple;
}
.title{
font-size: 35px;
}

.col-4{
  position: relative;
  background-color: #ffffff;
  border-radius: 5px;
  width: 600px;
  padding-top: 10px;
  height: 200px;
  margin-bottom: 10px;
  border-left: 2px solid #f73859;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
}
.pointer{
  position: absolute;
  left: 0;
	width: 23.5px;
	height: 16px;
  border-left:2px solid #f73859;
	background: #f73859;
	clip-path: polygon( 70% 10%, 100% 55%, 70% 100%, 0% 100%, 0 10%);
  padding-left: 10px;
  margin-top: 30px;
}
.heading{
background: none;
height: 50px;
border: none;
text-align: start;
margin-top: 10px;
box-shadow: none;
margin-bottom: 15px;
}
.heading-skill{
  position: relative;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 10px;

}
.heading-skill::before{
  content: "";
position: absolute;
background-color: #f73859;
width: 10%;
height: 3.2px;
left: 0; 
bottom: -2px;
}
.job-title{
  color: #403b66;
}
.job-details{
  margin-left: 30px;
  margin-top: 30px;
}
.job-company{
  color: #000;
}
.education-details{
  font-weight: 300;
  color: rgb(1, 1, 1);
}
.education, .experience{
   display: inline-flex;/* Float both sections to the right */
  width: 45%;   /* Set width so both can fit */
  margin-left: 30px;
}


.portfolio-list{
  position: relative;
  padding: 10px;
  margin-bottom: 40px;
}
.portfolio-list button{
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: #202020;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;

}
.portfolio-list .controls{
  margin-top: 10px;
  margin-bottom: 50px;
}
.mixitup-control-active {
	color: #e85c41 !important;
	border-bottom: 2px solid !important;
}
.controls .all{
color: #f73859;
border-bottom: 2px solid #f73859;
}
.work{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-left: 60px;
}
.portfolio-list .work img{
  width: 100%;
}












#scrollspyHeading6{
padding-top: 40px;
padding-bottom: 20px;
clear: both;
background-color: #fff;
}
.col-sm-8{
  position: relative;
  width: 750px;
  padding-bottom: 100px;
  border-radius: 2px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.message{
  position: absolute;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 15px 35px;
  left: 250px;
  background: blueviolet;
  color: white;
  border-radius: 7px;
  border: none;
  margin-top: 10px;
  transition-property: all;
  transition: 0.3s ease 0s;
}
.message:hover{
  background-color: white;
  color: black;
  border: 1px solid blueviolet;
  transform: rotate(10deg);
}
.image3{
  margin-top: 10px;
  width: 70px;
  background: none;
}
.contact-info {
	box-shadow: 0px 0px 10px #00000017;
	padding: 40px 50px;
	margin-bottom: 30px;
  margin-right: 30px;
	background: #fff;
}

.contact-info-icon {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border: 2px dotted #d97152;
	border-radius: 50%;
	font-size: 35px;
	color: #ff5821;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	margin-bottom: 20px;
}

.contact-info:hover .contact-info-icon {
	background: #ff5821;
	color: #fff;
	border-color: #ff5821;
}

.contact-info-text h3 {
	color: #000;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
}
.contact-info-text p{
  color: #333;
	width: 80%;
	margin: 0 auto
}
.google-map {
	border: 6px solid #FFF;
	box-shadow: 0px 0px 10px #00000017;
}

.google-map iframe {
	width: 100%;
  border: 0;
}

.cont-details {
  display: flex;
  flex-direction: column;
}
.contact-input {
  color: black; 
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}
.contact-details {
  color: rgb(125, 18, 224);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 5px 0 0 0;
}
.port{
  display: flex;
  align-items: center;
}
.contact-form {
	box-shadow: 0px 0px 10px #00000017;
	padding: 30px;
}

.contact-form form input[type="text"],
.contact-form form input[type="email"] {
	width: 100%;
	margin-bottom: 18px;
	border: 1px solid #ced4da;
	padding: 12px 20px;
	color: #333;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.contact-form form input[type="text"]:focus,
.contact-form form input[type="email"]:focus {
	border-color: #8e43e7;
}

.contact-form form input[type="submit"] {
	border-radius: 10px;
	text-transform: uppercase;
  background-color: blueviolet;
  color: #fff;
  padding: 15px 25px;
  border: none;
  outline: none;
}

.contact-form form textarea {
	width: 100%;
	margin-bottom: 18px;
	border: 1px solid #ced4da;
	padding: 12px 20px;
	color: #333;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	height: 170px;
}

.contact-form form textarea:focus {
	border-color: #8e43e7;
}

span.success-message {
    display: block;
    color: #27c127;
    margin-top: 12px;
    text-align: center;
    border: 1px solid #eee;
    padding: 12px 20px;
}
.formError {
    color: #f73859;
    margin: 0;
    padding-bottom: 18px;
    margin-top: -18px;
}

.footer{
  position: relative;
  display: flex;
  align-items: center;
}
.line{
  left: 0;
  width: 60px;
  height: 2px;
  background-color: #bbbbbb;
  margin-right: 20px;
  margin-top: 20px;
}
.fa{
  color: #000;
  font-size: 28px;
  margin-left: 20px;
  margin-top: 20px;
}
.footer-area{
  background-color: #e8e7e7;
  margin-top: 15px;
  padding-top: 25px;
  padding-bottom: 10px;
  text-align: center;
  margin-bottom: 0;
}